In [1]:
import numpy as np
import matplotlib.pyplot as plt
import eat
import pandas as pd
from models.modelsFDH import FDH

single output

In [1]:
import time
import numpy as np
import pandas as pd
import eat
from models.modelsFDH import FDH

TRIALS = 20
NS_VALUES = [10, 15, 20]
SAMPLE_SIZES = [25, 50, 75]

SCENARIOS = {
    1: {"inputs": 1, "outputs": 1,
        "func": lambda x: np.log(x) + 3,
        "inefficiency": lambda n: np.abs(np.random.normal(0, 0.4, size=n))},
    2: {"inputs": 2, "outputs": 1,
        "func": lambda x1, x2: 0.1*x1 + 0.1*x2 + 0.3*((x1 * x2)**0.5),
        "inefficiency": lambda n: np.abs(np.random.normal(0, 0.4, size=n))},
    3: {"inputs": 3, "outputs": 1,
        "func": lambda x1, x2, x3: 0.1*x1 + 0.1*x2 + 0.1*x3 + 0.3*(x1*x2*x3)**(1/3),
        "inefficiency": lambda n: np.abs(np.random.normal(0, 0.4, size=n))},
    4: {"inputs": 9, "outputs": 1,
        "func": lambda x: np.prod(x**0.11, axis=1),
        "inefficiency": lambda n: np.abs(np.random.normal(0, 0.4, size=n))},
}

In [2]:
def generate_data(scenario, n):
    x = np.random.uniform(1, 10, size=(n, scenario["inputs"]))
    if scenario == SCENARIOS[1]:
        y_true = scenario["func"](x[:, 0])
    elif scenario == SCENARIOS[2]:
        y_true = scenario["func"](x[:, 0], x[:, 1])
    elif scenario == SCENARIOS[3]:
        y_true = scenario["func"](x[:, 0], x[:, 1], x[:, 2])
    elif scenario == SCENARIOS[4]:
        y_true = scenario["func"](x)
    else:
        raise NotImplementedError("NOT SUPPORTED.")

    inefficiency = scenario["inefficiency"](n)
    y_obs = y_true - inefficiency

    y_obs = y_obs.reshape(n, scenario["outputs"])
    y_obs[y_obs<0] = 1e-6

    return x, y_obs, y_true

def calculate_metrics(true_values, estimates):
    mse = np.mean((estimates - true_values) ** 2)
    bias = np.mean(estimates - true_values)
    abs_bias = np.mean(np.abs(estimates - true_values))
    return mse, bias, abs_bias

In [3]:
def run_monte_carlo():

    records = []
    time_records = []

    for NS in NS_VALUES:
        start_time = time.time()

        for scenario_id, scenario in SCENARIOS.items():
            for n in SAMPLE_SIZES:

                mse_fdh_list, mse_eat_list = [], []
                bias_fdh_list, bias_eat_list = [], []
                abs_fdh_list, abs_eat_list = [], []

                for trial in range(TRIALS):
                    x, y_obs, y_true = generate_data(scenario, n)

                    print('NS', NS,"scen", scenario_id, "n", n, "Trial", trial)

                    fdh = FDH(x, y_obs)
                    df_fdh = fdh.fdh_output_vrs()
                    y_fdh = y_obs * df_fdh['efficiency'].values.reshape(-1, 1)

                    df = pd.DataFrame(x, columns=[f"x[{i}]" for i in range(scenario['inputs'])])
                    df[[f"y[{i}]" for i in range(scenario['outputs'])]] = y_obs
                    eat_model = eat.EAT(df,
                                         [f"x[{i}]" for i in range(scenario['inputs'])],
                                         [f"y[{i}]" for i in range(scenario['outputs'])],
                                         numStop=NS, fold=5)
                    eat_model.fit()
                    y_eat = eat_model.predict(df.loc[:, [f"x[{i}]" for i in range(scenario['inputs'])]],
                                              [f"x[{i}]" for i in range(scenario['inputs'])])
                    y_eat = y_eat[[f"p_y[{i}]" for i in range(scenario['outputs'])]].values

                    mse_fdh, bias_fdh, abs_fdh = calculate_metrics(y_true, y_fdh)
                    mse_eat, bias_eat, abs_eat = calculate_metrics(y_true, y_eat)

                    mse_fdh_list.append(mse_fdh)
                    bias_fdh_list.append(bias_fdh)
                    abs_fdh_list.append(abs_fdh)
                    mse_eat_list.append(mse_eat)
                    bias_eat_list.append(bias_eat)
                    abs_eat_list.append(abs_eat)

                mean_fdh_mse = np.mean(mse_fdh_list)
                mean_eat_mse = np.mean(mse_eat_list)
                mean_fdh_bias = np.mean(bias_fdh_list)
                mean_eat_bias = np.mean(bias_eat_list)
                mean_fdh_abs = np.mean(abs_fdh_list)
                mean_eat_abs = np.mean(abs_eat_list)

                ratio_mse = mean_eat_mse / mean_fdh_mse if mean_fdh_mse != 0 else np.nan
                ratio_bias = mean_eat_bias / mean_fdh_bias if mean_fdh_bias != 0 else np.nan
                ratio_abs = mean_eat_abs / mean_fdh_abs if mean_fdh_abs != 0 else np.nan

                records.append({
                    'NS': NS,
                    'Scenario': scenario_id,
                    'SampleSize': n,
                    'FDH_MSE': round(mean_fdh_mse, 4),
                    'EAT_MSE': round(mean_eat_mse, 4),
                    'Ratio_MSE': round(ratio_mse, 4),
                    'FDH_Bias': round(mean_fdh_bias, 4),
                    'EAT_Bias': round(mean_eat_bias, 4),
                    'Ratio_Bias': round(ratio_bias, 4),
                    'FDH_AbsBias': round(mean_fdh_abs, 4),
                    'EAT_AbsBias': round(mean_eat_abs, 4),
                    'Ratio_AbsBias': round(ratio_abs, 4)
                })

        elapsed = time.time() - start_time
        time_records.append({'NS': NS, 'ElapsedSec': elapsed})
        print(f"NS={NS} completed in {elapsed:.2f} seconds")

    df_details = pd.DataFrame(records)
    df_summary = df_details.groupby('NS').agg({
        'FDH_MSE':'mean','EAT_MSE':'mean','Ratio_MSE':'mean',
        'FDH_Bias':'mean','EAT_Bias':'mean','Ratio_Bias':'mean',
        'FDH_AbsBias':'mean','EAT_AbsBias':'mean','Ratio_AbsBias':'mean'
    }).reset_index()
    df_times = pd.DataFrame(time_records)

    df_details = df_details.round(4)
    df_summary = df_summary.round(4)
    df_times = df_times.round(4)

    df_details.to_csv('monte_carlo_results_detailed.csv', index=False, float_format='%.4f')
    df_summary.to_csv('monte_carlo_results_summary.csv', index=False, float_format='%.4f')
    df_times.to_csv('monte_carlo_times.csv', index=False, float_format='%.4f')

    with pd.ExcelWriter('monte_carlo_full_results.xlsx') as writer:
        df_details.to_excel(writer, sheet_name='Detailed', index=False)
        df_summary.to_excel(writer, sheet_name='Summary', index=False)
        df_times.to_excel(writer, sheet_name='Times', index=False)

    return df_details, df_summary, df_times

In [4]:
detailed_df, summary_df, times_df = run_monte_carlo()

NS 10 scen 1 n 25 Trial 0
Set parameter WLSAccessID
Set parameter WLSSecret
Set parameter LicenseID to value 2579375
Academic license 2579375 - for non-commercial use only - registered to ma___@iitd.ac.in
NS 10 scen 1 n 25 Trial 1
NS 10 scen 1 n 25 Trial 2
NS 10 scen 1 n 25 Trial 3
NS 10 scen 1 n 25 Trial 4
NS 10 scen 1 n 25 Trial 5
NS 10 scen 1 n 25 Trial 6
NS 10 scen 1 n 25 Trial 7
NS 10 scen 1 n 25 Trial 8
NS 10 scen 1 n 25 Trial 9
NS 10 scen 1 n 25 Trial 10
NS 10 scen 1 n 25 Trial 11
NS 10 scen 1 n 25 Trial 12
NS 10 scen 1 n 25 Trial 13
NS 10 scen 1 n 25 Trial 14
NS 10 scen 1 n 25 Trial 15
NS 10 scen 1 n 25 Trial 16
NS 10 scen 1 n 25 Trial 17
NS 10 scen 1 n 25 Trial 18
NS 10 scen 1 n 25 Trial 19
NS 10 scen 1 n 50 Trial 0
NS 10 scen 1 n 50 Trial 1
NS 10 scen 1 n 50 Trial 2
NS 10 scen 1 n 50 Trial 3
NS 10 scen 1 n 50 Trial 4
NS 10 scen 1 n 50 Trial 5
NS 10 scen 1 n 50 Trial 6
NS 10 scen 1 n 50 Trial 7
NS 10 scen 1 n 50 Trial 8
NS 10 scen 1 n 50 Trial 9
NS 10 scen 1 n 50 Trial 10
NS 10 scen 1 n 50 Trial 11
NS 10 scen 1 n 50 Trial 12
NS 10 scen 1 n 50 Trial 13
NS 10 scen 1 n 50 Trial 14
NS 10 scen 1 n 50 Trial 15
NS 10 scen 1 n 50 Trial 16
NS 10 scen 1 n 50 Trial 17
NS 10 scen 1 n 50 Trial 18
NS 10 scen 1 n 50 Trial 19
NS 10 scen 1 n 75 Trial 0
NS 10 scen 1 n 75 Trial 1
NS 10 scen 1 n 75 Trial 2
NS 10 scen 1 n 75 Trial 3
NS 10 scen 1 n 75 Trial 4
NS 10 scen 1 n 75 Trial 5
NS 10 scen 1 n 75 Trial 6
NS 10 scen 1 n 75 Trial 7
NS 10 scen 1 n 75 Trial 8
NS 10 scen 1 n 75 Trial 9
NS 10 scen 1 n 75 Trial 10
NS 10 scen 1 n 75 Trial 11
NS 10 scen 1 n 75 Trial 12
NS 10 scen 1 n 75 Trial 13
NS 10 scen 1 n 75 Trial 14
NS 10 scen 1 n 75 Trial 15
NS 10 scen 1 n 75 Trial 16
NS 10 scen 1 n 75 Trial 17
NS 10 scen 1 n 75 Trial 18
NS 10 scen 1 n 75 Trial 19
NS 10 scen 2 n 25 Trial 0
NS 10 scen 2 n 25 Trial 1
NS 10 scen 2 n 25 Trial 2
NS 10 scen 2 n 25 Trial 3
NS 10 scen 2 n 25 Trial 4
NS 10 scen 2 n 25 Trial 5
NS 10 scen 2 n 25 Trial 6
NS 10 scen 2 n 25 Trial 7
NS 10 scen 2 n 25 Trial 8
NS 10 scen 2 n 25 Trial 9
NS 10 scen 2 n 25 Trial 10
NS 10 scen 2 n 25 Trial 11
NS 10 scen 2 n 25 Trial 12
NS 10 scen 2 n 25 Trial 13
NS 10 scen 2 n 25 Trial 14
NS 10 scen 2 n 25 Trial 15
NS 10 scen 2 n 25 Trial 16
NS 10 scen 2 n 25 Trial 17
NS 10 scen 2 n 25 Trial 18
NS 10 scen 2 n 25 Trial 19
NS 10 scen 2 n 50 Trial 0
NS 10 scen 2 n 50 Trial 1
NS 10 scen 2 n 50 Trial 2
NS 10 scen 2 n 50 Trial 3
NS 10 scen 2 n 50 Trial 4
NS 10 scen 2 n 50 Trial 5
NS 10 scen 2 n 50 Trial 6
NS 10 scen 2 n 50 Trial 7
NS 10 scen 2 n 50 Trial 8
NS 10 scen 2 n 50 Trial 9
NS 10 scen 2 n 50 Trial 10
NS 10 scen 2 n 50 Trial 11
NS 10 scen 2 n 50 Trial 12
NS 10 scen 2 n 50 Trial 13
NS 10 scen 2 n 50 Trial 14
NS 10 scen 2 n 50 Trial 15
NS 10 scen 2 n 50 Trial 16
NS 10 scen 2 n 50 Trial 17
NS 10 scen 2 n 50 Trial 18
NS 10 scen 2 n 50 Trial 19
NS 10 scen 2 n 75 Trial 0
NS 10 scen 2 n 75 Trial 1
NS 10 scen 2 n 75 Trial 2
NS 10 scen 2 n 75 Trial 3
NS 10 scen 2 n 75 Trial 4
NS 10 scen 2 n 75 Trial 5
NS 10 scen 2 n 75 Trial 6
NS 10 scen 2 n 75 Trial 7
NS 10 scen 2 n 75 Trial 8
NS 10 scen 2 n 75 Trial 9
NS 10 scen 2 n 75 Trial 10
NS 10 scen 2 n 75 Trial 11
NS 10 scen 2 n 75 Trial 12
NS 10 scen 2 n 75 Trial 13
NS 10 scen 2 n 75 Trial 14
NS 10 scen 2 n 75 Trial 15
NS 10 scen 2 n 75 Trial 16
NS 10 scen 2 n 75 Trial 17
NS 10 scen 2 n 75 Trial 18
NS 10 scen 2 n 75 Trial 19
NS 10 scen 3 n 25 Trial 0
NS 10 scen 3 n 25 Trial 1
NS 10 scen 3 n 25 Trial 2
NS 10 scen 3 n 25 Trial 3
NS 10 scen 3 n 25 Trial 4
NS 10 scen 3 n 25 Trial 5
NS 10 scen 3 n 25 Trial 6
NS 10 scen 3 n 25 Trial 7
NS 10 scen 3 n 25 Trial 8
NS 10 scen 3 n 25 Trial 9
NS 10 scen 3 n 25 Trial 10
NS 10 scen 3 n 25 Trial 11
NS 10 scen 3 n 25 Trial 12
NS 10 scen 3 n 25 Trial 13
NS 10 scen 3 n 25 Trial 14
NS 10 scen 3 n 25 Trial 15
NS 10 scen 3 n 25 Trial 16
NS 10 scen 3 n 25 Trial 17
NS 10 scen 3 n 25 Trial 18
NS 10 scen 3 n 25 Trial 19
NS 10 scen 3 n 50 Trial 0
NS 10 scen 3 n 50 Trial 1
NS 10 scen 3 n 50 Trial 2
NS 10 scen 3 n 50 Trial 3
NS 10 scen 3 n 50 Trial 4
NS 10 scen 3 n 50 Trial 5
NS 10 scen 3 n 50 Trial 6
NS 10 scen 3 n 50 Trial 7
NS 10 scen 3 n 50 Trial 8
NS 10 scen 3 n 50 Trial 9
NS 10 scen 3 n 50 Trial 10
NS 10 scen 3 n 50 Trial 11
NS 10 scen 3 n 50 Trial 12
NS 10 scen 3 n 50 Trial 13
NS 10 scen 3 n 50 Trial 14
NS 10 scen 3 n 50 Trial 15
NS 10 scen 3 n 50 Trial 16
NS 10 scen 3 n 50 Trial 17
NS 10 scen 3 n 50 Trial 18
NS 10 scen 3 n 50 Trial 19
NS 10 scen 3 n 75 Trial 0
NS 10 scen 3 n 75 Trial 1
NS 10 scen 3 n 75 Trial 2
NS 10 scen 3 n 75 Trial 3
NS 10 scen 3 n 75 Trial 4
NS 10 scen 3 n 75 Trial 5
NS 10 scen 3 n 75 Trial 6
NS 10 scen 3 n 75 Trial 7
NS 10 scen 3 n 75 Trial 8
NS 10 scen 3 n 75 Trial 9
NS 10 scen 3 n 75 Trial 10
NS 10 scen 3 n 75 Trial 11
NS 10 scen 3 n 75 Trial 12
NS 10 scen 3 n 75 Trial 13
NS 10 scen 3 n 75 Trial 14
NS 10 scen 3 n 75 Trial 15
NS 10 scen 3 n 75 Trial 16
NS 10 scen 3 n 75 Trial 17
NS 10 scen 3 n 75 Trial 18
NS 10 scen 3 n 75 Trial 19
NS 10 scen 4 n 25 Trial 0
NS 10 scen 4 n 25 Trial 1
NS 10 scen 4 n 25 Trial 2
NS 10 scen 4 n 25 Trial 3
NS 10 scen 4 n 25 Trial 4
NS 10 scen 4 n 25 Trial 5
NS 10 scen 4 n 25 Trial 6
NS 10 scen 4 n 25 Trial 7
NS 10 scen 4 n 25 Trial 8
NS 10 scen 4 n 25 Trial 9
NS 10 scen 4 n 25 Trial 10
NS 10 scen 4 n 25 Trial 11
NS 10 scen 4 n 25 Trial 12
NS 10 scen 4 n 25 Trial 13
NS 10 scen 4 n 25 Trial 14
NS 10 scen 4 n 25 Trial 15
NS 10 scen 4 n 25 Trial 16
NS 10 scen 4 n 25 Trial 17
NS 10 scen 4 n 25 Trial 18
NS 10 scen 4 n 25 Trial 19
NS 10 scen 4 n 50 Trial 0
NS 10 scen 4 n 50 Trial 1
NS 10 scen 4 n 50 Trial 2
NS 10 scen 4 n 50 Trial 3
NS 10 scen 4 n 50 Trial 4
NS 10 scen 4 n 50 Trial 5
NS 10 scen 4 n 50 Trial 6
NS 10 scen 4 n 50 Trial 7
NS 10 scen 4 n 50 Trial 8
NS 10 scen 4 n 50 Trial 9
NS 10 scen 4 n 50 Trial 10
NS 10 scen 4 n 50 Trial 11
NS 10 scen 4 n 50 Trial 12
NS 10 scen 4 n 50 Trial 13
NS 10 scen 4 n 50 Trial 14
NS 10 scen 4 n 50 Trial 15
NS 10 scen 4 n 50 Trial 16
NS 10 scen 4 n 50 Trial 17
NS 10 scen 4 n 50 Trial 18
NS 10 scen 4 n 50 Trial 19
NS 10 scen 4 n 75 Trial 0
NS 10 scen 4 n 75 Trial 1
NS 10 scen 4 n 75 Trial 2
NS 10 scen 4 n 75 Trial 3
NS 10 scen 4 n 75 Trial 4
NS 10 scen 4 n 75 Trial 5
NS 10 scen 4 n 75 Trial 6
NS 10 scen 4 n 75 Trial 7
NS 10 scen 4 n 75 Trial 8
NS 10 scen 4 n 75 Trial 9
NS 10 scen 4 n 75 Trial 10
NS 10 scen 4 n 75 Trial 11
NS 10 scen 4 n 75 Trial 12
NS 10 scen 4 n 75 Trial 13
NS 10 scen 4 n 75 Trial 14
NS 10 scen 4 n 75 Trial 15
NS 10 scen 4 n 75 Trial 16
NS 10 scen 4 n 75 Trial 17
NS 10 scen 4 n 75 Trial 18
NS 10 scen 4 n 75 Trial 19
NS=10 completed in 482.52 seconds
NS 15 scen 1 n 25 Trial 0
NS 15 scen 1 n 25 Trial 1
NS 15 scen 1 n 25 Trial 2
NS 15 scen 1 n 25 Trial 3
NS 15 scen 1 n 25 Trial 4
NS 15 scen 1 n 25 Trial 5
NS 15 scen 1 n 25 Trial 6
NS 15 scen 1 n 25 Trial 7
NS 15 scen 1 n 25 Trial 8
NS 15 scen 1 n 25 Trial 9
NS 15 scen 1 n 25 Trial 10
NS 15 scen 1 n 25 Trial 11
NS 15 scen 1 n 25 Trial 12
NS 15 scen 1 n 25 Trial 13
NS 15 scen 1 n 25 Trial 14
NS 15 scen 1 n 25 Trial 15
NS 15 scen 1 n 25 Trial 16
NS 15 scen 1 n 25 Trial 17
NS 15 scen 1 n 25 Trial 18
NS 15 scen 1 n 25 Trial 19
NS 15 scen 1 n 50 Trial 0
NS 15 scen 1 n 50 Trial 1
NS 15 scen 1 n 50 Trial 2
NS 15 scen 1 n 50 Trial 3
NS 15 scen 1 n 50 Trial 4
NS 15 scen 1 n 50 Trial 5
NS 15 scen 1 n 50 Trial 6
NS 15 scen 1 n 50 Trial 7
NS 15 scen 1 n 50 Trial 8
NS 15 scen 1 n 50 Trial 9
NS 15 scen 1 n 50 Trial 10
NS 15 scen 1 n 50 Trial 11
NS 15 scen 1 n 50 Trial 12
NS 15 scen 1 n 50 Trial 13
NS 15 scen 1 n 50 Trial 14
NS 15 scen 1 n 50 Trial 15
NS 15 scen 1 n 50 Trial 16
NS 15 scen 1 n 50 Trial 17
NS 15 scen 1 n 50 Trial 18
NS 15 scen 1 n 50 Trial 19
NS 15 scen 1 n 75 Trial 0
NS 15 scen 1 n 75 Trial 1
NS 15 scen 1 n 75 Trial 2
NS 15 scen 1 n 75 Trial 3
NS 15 scen 1 n 75 Trial 4
NS 15 scen 1 n 75 Trial 5
NS 15 scen 1 n 75 Trial 6
NS 15 scen 1 n 75 Trial 7
NS 15 scen 1 n 75 Trial 8
NS 15 scen 1 n 75 Trial 9
NS 15 scen 1 n 75 Trial 10
NS 15 scen 1 n 75 Trial 11
NS 15 scen 1 n 75 Trial 12
NS 15 scen 1 n 75 Trial 13
NS 15 scen 1 n 75 Trial 14
NS 15 scen 1 n 75 Trial 15
NS 15 scen 1 n 75 Trial 16
NS 15 scen 1 n 75 Trial 17
NS 15 scen 1 n 75 Trial 18
NS 15 scen 1 n 75 Trial 19
NS 15 scen 2 n 25 Trial 0
NS 15 scen 2 n 25 Trial 1
NS 15 scen 2 n 25 Trial 2
NS 15 scen 2 n 25 Trial 3
NS 15 scen 2 n 25 Trial 4
NS 15 scen 2 n 25 Trial 5
NS 15 scen 2 n 25 Trial 6
NS 15 scen 2 n 25 Trial 7
NS 15 scen 2 n 25 Trial 8
NS 15 scen 2 n 25 Trial 9
NS 15 scen 2 n 25 Trial 10
NS 15 scen 2 n 25 Trial 11
NS 15 scen 2 n 25 Trial 12
NS 15 scen 2 n 25 Trial 13
NS 15 scen 2 n 25 Trial 14
NS 15 scen 2 n 25 Trial 15
NS 15 scen 2 n 25 Trial 16
NS 15 scen 2 n 25 Trial 17
NS 15 scen 2 n 25 Trial 18
NS 15 scen 2 n 25 Trial 19
NS 15 scen 2 n 50 Trial 0
NS 15 scen 2 n 50 Trial 1
NS 15 scen 2 n 50 Trial 2
NS 15 scen 2 n 50 Trial 3
NS 15 scen 2 n 50 Trial 4
NS 15 scen 2 n 50 Trial 5
NS 15 scen 2 n 50 Trial 6
NS 15 scen 2 n 50 Trial 7
NS 15 scen 2 n 50 Trial 8
NS 15 scen 2 n 50 Trial 9
NS 15 scen 2 n 50 Trial 10
NS 15 scen 2 n 50 Trial 11
NS 15 scen 2 n 50 Trial 12
NS 15 scen 2 n 50 Trial 13
NS 15 scen 2 n 50 Trial 14
NS 15 scen 2 n 50 Trial 15
NS 15 scen 2 n 50 Trial 16
NS 15 scen 2 n 50 Trial 17
NS 15 scen 2 n 50 Trial 18
NS 15 scen 2 n 50 Trial 19
NS 15 scen 2 n 75 Trial 0
NS 15 scen 2 n 75 Trial 1
NS 15 scen 2 n 75 Trial 2
NS 15 scen 2 n 75 Trial 3
NS 15 scen 2 n 75 Trial 4
NS 15 scen 2 n 75 Trial 5
NS 15 scen 2 n 75 Trial 6
NS 15 scen 2 n 75 Trial 7
NS 15 scen 2 n 75 Trial 8
NS 15 scen 2 n 75 Trial 9
NS 15 scen 2 n 75 Trial 10
NS 15 scen 2 n 75 Trial 11
NS 15 scen 2 n 75 Trial 12
NS 15 scen 2 n 75 Trial 13
NS 15 scen 2 n 75 Trial 14
NS 15 scen 2 n 75 Trial 15
NS 15 scen 2 n 75 Trial 16
NS 15 scen 2 n 75 Trial 17
NS 15 scen 2 n 75 Trial 18
NS 15 scen 2 n 75 Trial 19
NS 15 scen 3 n 25 Trial 0
NS 15 scen 3 n 25 Trial 1
NS 15 scen 3 n 25 Trial 2
NS 15 scen 3 n 25 Trial 3
NS 15 scen 3 n 25 Trial 4
NS 15 scen 3 n 25 Trial 5
NS 15 scen 3 n 25 Trial 6
NS 15 scen 3 n 25 Trial 7
NS 15 scen 3 n 25 Trial 8
NS 15 scen 3 n 25 Trial 9
NS 15 scen 3 n 25 Trial 10
NS 15 scen 3 n 25 Trial 11
NS 15 scen 3 n 25 Trial 12
NS 15 scen 3 n 25 Trial 13
NS 15 scen 3 n 25 Trial 14
NS 15 scen 3 n 25 Trial 15
NS 15 scen 3 n 25 Trial 16
NS 15 scen 3 n 25 Trial 17
NS 15 scen 3 n 25 Trial 18
NS 15 scen 3 n 25 Trial 19
NS 15 scen 3 n 50 Trial 0
NS 15 scen 3 n 50 Trial 1
NS 15 scen 3 n 50 Trial 2
NS 15 scen 3 n 50 Trial 3
NS 15 scen 3 n 50 Trial 4
NS 15 scen 3 n 50 Trial 5
NS 15 scen 3 n 50 Trial 6
NS 15 scen 3 n 50 Trial 7
NS 15 scen 3 n 50 Trial 8
NS 15 scen 3 n 50 Trial 9
NS 15 scen 3 n 50 Trial 10
NS 15 scen 3 n 50 Trial 11
NS 15 scen 3 n 50 Trial 12
NS 15 scen 3 n 50 Trial 13
NS 15 scen 3 n 50 Trial 14
NS 15 scen 3 n 50 Trial 15
NS 15 scen 3 n 50 Trial 16
NS 15 scen 3 n 50 Trial 17
NS 15 scen 3 n 50 Trial 18
NS 15 scen 3 n 50 Trial 19
NS 15 scen 3 n 75 Trial 0
NS 15 scen 3 n 75 Trial 1
NS 15 scen 3 n 75 Trial 2
NS 15 scen 3 n 75 Trial 3
NS 15 scen 3 n 75 Trial 4
NS 15 scen 3 n 75 Trial 5
NS 15 scen 3 n 75 Trial 6
NS 15 scen 3 n 75 Trial 7
NS 15 scen 3 n 75 Trial 8
NS 15 scen 3 n 75 Trial 9
NS 15 scen 3 n 75 Trial 10
NS 15 scen 3 n 75 Trial 11
NS 15 scen 3 n 75 Trial 12
NS 15 scen 3 n 75 Trial 13
NS 15 scen 3 n 75 Trial 14
NS 15 scen 3 n 75 Trial 15
NS 15 scen 3 n 75 Trial 16
NS 15 scen 3 n 75 Trial 17
NS 15 scen 3 n 75 Trial 18
NS 15 scen 3 n 75 Trial 19
NS 15 scen 4 n 25 Trial 0
NS 15 scen 4 n 25 Trial 1
NS 15 scen 4 n 25 Trial 2
NS 15 scen 4 n 25 Trial 3
NS 15 scen 4 n 25 Trial 4
NS 15 scen 4 n 25 Trial 5
NS 15 scen 4 n 25 Trial 6
NS 15 scen 4 n 25 Trial 7
NS 15 scen 4 n 25 Trial 8
NS 15 scen 4 n 25 Trial 9
NS 15 scen 4 n 25 Trial 10
NS 15 scen 4 n 25 Trial 11
NS 15 scen 4 n 25 Trial 12
NS 15 scen 4 n 25 Trial 13
NS 15 scen 4 n 25 Trial 14
NS 15 scen 4 n 25 Trial 15
NS 15 scen 4 n 25 Trial 16
NS 15 scen 4 n 25 Trial 17
NS 15 scen 4 n 25 Trial 18
NS 15 scen 4 n 25 Trial 19
NS 15 scen 4 n 50 Trial 0
NS 15 scen 4 n 50 Trial 1
NS 15 scen 4 n 50 Trial 2
NS 15 scen 4 n 50 Trial 3
NS 15 scen 4 n 50 Trial 4
NS 15 scen 4 n 50 Trial 5
NS 15 scen 4 n 50 Trial 6
NS 15 scen 4 n 50 Trial 7
NS 15 scen 4 n 50 Trial 8
NS 15 scen 4 n 50 Trial 9
NS 15 scen 4 n 50 Trial 10
NS 15 scen 4 n 50 Trial 11
NS 15 scen 4 n 50 Trial 12
NS 15 scen 4 n 50 Trial 13
NS 15 scen 4 n 50 Trial 14
NS 15 scen 4 n 50 Trial 15
NS 15 scen 4 n 50 Trial 16
NS 15 scen 4 n 50 Trial 17
NS 15 scen 4 n 50 Trial 18
NS 15 scen 4 n 50 Trial 19
NS 15 scen 4 n 75 Trial 0
NS 15 scen 4 n 75 Trial 1
NS 15 scen 4 n 75 Trial 2
NS 15 scen 4 n 75 Trial 3
NS 15 scen 4 n 75 Trial 4
NS 15 scen 4 n 75 Trial 5
NS 15 scen 4 n 75 Trial 6
NS 15 scen 4 n 75 Trial 7
NS 15 scen 4 n 75 Trial 8
NS 15 scen 4 n 75 Trial 9
NS 15 scen 4 n 75 Trial 10
NS 15 scen 4 n 75 Trial 11
NS 15 scen 4 n 75 Trial 12
NS 15 scen 4 n 75 Trial 13
NS 15 scen 4 n 75 Trial 14
NS 15 scen 4 n 75 Trial 15
NS 15 scen 4 n 75 Trial 16
NS 15 scen 4 n 75 Trial 17
NS 15 scen 4 n 75 Trial 18
NS 15 scen 4 n 75 Trial 19
NS=15 completed in 401.35 seconds
NS 20 scen 1 n 25 Trial 0
NS 20 scen 1 n 25 Trial 1
NS 20 scen 1 n 25 Trial 2
NS 20 scen 1 n 25 Trial 3
NS 20 scen 1 n 25 Trial 4
NS 20 scen 1 n 25 Trial 5
NS 20 scen 1 n 25 Trial 6
NS 20 scen 1 n 25 Trial 7
NS 20 scen 1 n 25 Trial 8
NS 20 scen 1 n 25 Trial 9
NS 20 scen 1 n 25 Trial 10
NS 20 scen 1 n 25 Trial 11
NS 20 scen 1 n 25 Trial 12
NS 20 scen 1 n 25 Trial 13
NS 20 scen 1 n 25 Trial 14
NS 20 scen 1 n 25 Trial 15
NS 20 scen 1 n 25 Trial 16
NS 20 scen 1 n 25 Trial 17
NS 20 scen 1 n 25 Trial 18
NS 20 scen 1 n 25 Trial 19
NS 20 scen 1 n 50 Trial 0
NS 20 scen 1 n 50 Trial 1
NS 20 scen 1 n 50 Trial 2
NS 20 scen 1 n 50 Trial 3
NS 20 scen 1 n 50 Trial 4
NS 20 scen 1 n 50 Trial 5
NS 20 scen 1 n 50 Trial 6
NS 20 scen 1 n 50 Trial 7
NS 20 scen 1 n 50 Trial 8
NS 20 scen 1 n 50 Trial 9
NS 20 scen 1 n 50 Trial 10
NS 20 scen 1 n 50 Trial 11
NS 20 scen 1 n 50 Trial 12
NS 20 scen 1 n 50 Trial 13
NS 20 scen 1 n 50 Trial 14
NS 20 scen 1 n 50 Trial 15
NS 20 scen 1 n 50 Trial 16
NS 20 scen 1 n 50 Trial 17
NS 20 scen 1 n 50 Trial 18
NS 20 scen 1 n 50 Trial 19
NS 20 scen 1 n 75 Trial 0
NS 20 scen 1 n 75 Trial 1
NS 20 scen 1 n 75 Trial 2
NS 20 scen 1 n 75 Trial 3
NS 20 scen 1 n 75 Trial 4
NS 20 scen 1 n 75 Trial 5
NS 20 scen 1 n 75 Trial 6
NS 20 scen 1 n 75 Trial 7
NS 20 scen 1 n 75 Trial 8
NS 20 scen 1 n 75 Trial 9
NS 20 scen 1 n 75 Trial 10
NS 20 scen 1 n 75 Trial 11
NS 20 scen 1 n 75 Trial 12
NS 20 scen 1 n 75 Trial 13
NS 20 scen 1 n 75 Trial 14
NS 20 scen 1 n 75 Trial 15
NS 20 scen 1 n 75 Trial 16
NS 20 scen 1 n 75 Trial 17
NS 20 scen 1 n 75 Trial 18
NS 20 scen 1 n 75 Trial 19
NS 20 scen 2 n 25 Trial 0
NS 20 scen 2 n 25 Trial 1
NS 20 scen 2 n 25 Trial 2
NS 20 scen 2 n 25 Trial 3
NS 20 scen 2 n 25 Trial 4
NS 20 scen 2 n 25 Trial 5
NS 20 scen 2 n 25 Trial 6
NS 20 scen 2 n 25 Trial 7
NS 20 scen 2 n 25 Trial 8
NS 20 scen 2 n 25 Trial 9
NS 20 scen 2 n 25 Trial 10
NS 20 scen 2 n 25 Trial 11
NS 20 scen 2 n 25 Trial 12
NS 20 scen 2 n 25 Trial 13
NS 20 scen 2 n 25 Trial 14
NS 20 scen 2 n 25 Trial 15
NS 20 scen 2 n 25 Trial 16
NS 20 scen 2 n 25 Trial 17
NS 20 scen 2 n 25 Trial 18
NS 20 scen 2 n 25 Trial 19
NS 20 scen 2 n 50 Trial 0
NS 20 scen 2 n 50 Trial 1
NS 20 scen 2 n 50 Trial 2
NS 20 scen 2 n 50 Trial 3
NS 20 scen 2 n 50 Trial 4
NS 20 scen 2 n 50 Trial 5
NS 20 scen 2 n 50 Trial 6
NS 20 scen 2 n 50 Trial 7
NS 20 scen 2 n 50 Trial 8
NS 20 scen 2 n 50 Trial 9
NS 20 scen 2 n 50 Trial 10
NS 20 scen 2 n 50 Trial 11
NS 20 scen 2 n 50 Trial 12
NS 20 scen 2 n 50 Trial 13
NS 20 scen 2 n 50 Trial 14
NS 20 scen 2 n 50 Trial 15
NS 20 scen 2 n 50 Trial 16
NS 20 scen 2 n 50 Trial 17
NS 20 scen 2 n 50 Trial 18
NS 20 scen 2 n 50 Trial 19
NS 20 scen 2 n 75 Trial 0
NS 20 scen 2 n 75 Trial 1
NS 20 scen 2 n 75 Trial 2
NS 20 scen 2 n 75 Trial 3
NS 20 scen 2 n 75 Trial 4
NS 20 scen 2 n 75 Trial 5
NS 20 scen 2 n 75 Trial 6
NS 20 scen 2 n 75 Trial 7
NS 20 scen 2 n 75 Trial 8
NS 20 scen 2 n 75 Trial 9
NS 20 scen 2 n 75 Trial 10
NS 20 scen 2 n 75 Trial 11
NS 20 scen 2 n 75 Trial 12
NS 20 scen 2 n 75 Trial 13
NS 20 scen 2 n 75 Trial 14
NS 20 scen 2 n 75 Trial 15
NS 20 scen 2 n 75 Trial 16
NS 20 scen 2 n 75 Trial 17
NS 20 scen 2 n 75 Trial 18
NS 20 scen 2 n 75 Trial 19
NS 20 scen 3 n 25 Trial 0
NS 20 scen 3 n 25 Trial 1
NS 20 scen 3 n 25 Trial 2
NS 20 scen 3 n 25 Trial 3
NS 20 scen 3 n 25 Trial 4
NS 20 scen 3 n 25 Trial 5
NS 20 scen 3 n 25 Trial 6
NS 20 scen 3 n 25 Trial 7
NS 20 scen 3 n 25 Trial 8
NS 20 scen 3 n 25 Trial 9
NS 20 scen 3 n 25 Trial 10
NS 20 scen 3 n 25 Trial 11
NS 20 scen 3 n 25 Trial 12
NS 20 scen 3 n 25 Trial 13
NS 20 scen 3 n 25 Trial 14
NS 20 scen 3 n 25 Trial 15
NS 20 scen 3 n 25 Trial 16
NS 20 scen 3 n 25 Trial 17
NS 20 scen 3 n 25 Trial 18
NS 20 scen 3 n 25 Trial 19
NS 20 scen 3 n 50 Trial 0
NS 20 scen 3 n 50 Trial 1
NS 20 scen 3 n 50 Trial 2
NS 20 scen 3 n 50 Trial 3
NS 20 scen 3 n 50 Trial 4
NS 20 scen 3 n 50 Trial 5
NS 20 scen 3 n 50 Trial 6
NS 20 scen 3 n 50 Trial 7
NS 20 scen 3 n 50 Trial 8
NS 20 scen 3 n 50 Trial 9
NS 20 scen 3 n 50 Trial 10
NS 20 scen 3 n 50 Trial 11
NS 20 scen 3 n 50 Trial 12
NS 20 scen 3 n 50 Trial 13
NS 20 scen 3 n 50 Trial 14
NS 20 scen 3 n 50 Trial 15
NS 20 scen 3 n 50 Trial 16
NS 20 scen 3 n 50 Trial 17
NS 20 scen 3 n 50 Trial 18
NS 20 scen 3 n 50 Trial 19
NS 20 scen 3 n 75 Trial 0
NS 20 scen 3 n 75 Trial 1
NS 20 scen 3 n 75 Trial 2
NS 20 scen 3 n 75 Trial 3
NS 20 scen 3 n 75 Trial 4
NS 20 scen 3 n 75 Trial 5
NS 20 scen 3 n 75 Trial 6
NS 20 scen 3 n 75 Trial 7
NS 20 scen 3 n 75 Trial 8
NS 20 scen 3 n 75 Trial 9
NS 20 scen 3 n 75 Trial 10
NS 20 scen 3 n 75 Trial 11
NS 20 scen 3 n 75 Trial 12
NS 20 scen 3 n 75 Trial 13
NS 20 scen 3 n 75 Trial 14
NS 20 scen 3 n 75 Trial 15
NS 20 scen 3 n 75 Trial 16
NS 20 scen 3 n 75 Trial 17
NS 20 scen 3 n 75 Trial 18
NS 20 scen 3 n 75 Trial 19
NS 20 scen 4 n 25 Trial 0
NS 20 scen 4 n 25 Trial 1
NS 20 scen 4 n 25 Trial 2
NS 20 scen 4 n 25 Trial 3
NS 20 scen 4 n 25 Trial 4
NS 20 scen 4 n 25 Trial 5
NS 20 scen 4 n 25 Trial 6
NS 20 scen 4 n 25 Trial 7
NS 20 scen 4 n 25 Trial 8
NS 20 scen 4 n 25 Trial 9
NS 20 scen 4 n 25 Trial 10
NS 20 scen 4 n 25 Trial 11
NS 20 scen 4 n 25 Trial 12
NS 20 scen 4 n 25 Trial 13
NS 20 scen 4 n 25 Trial 14
NS 20 scen 4 n 25 Trial 15
NS 20 scen 4 n 25 Trial 16
NS 20 scen 4 n 25 Trial 17
NS 20 scen 4 n 25 Trial 18
NS 20 scen 4 n 25 Trial 19
NS 20 scen 4 n 50 Trial 0
NS 20 scen 4 n 50 Trial 1
NS 20 scen 4 n 50 Trial 2
NS 20 scen 4 n 50 Trial 3
NS 20 scen 4 n 50 Trial 4
NS 20 scen 4 n 50 Trial 5
NS 20 scen 4 n 50 Trial 6
NS 20 scen 4 n 50 Trial 7
NS 20 scen 4 n 50 Trial 8
NS 20 scen 4 n 50 Trial 9
NS 20 scen 4 n 50 Trial 10
NS 20 scen 4 n 50 Trial 11
NS 20 scen 4 n 50 Trial 12
NS 20 scen 4 n 50 Trial 13
NS 20 scen 4 n 50 Trial 14
NS 20 scen 4 n 50 Trial 15
NS 20 scen 4 n 50 Trial 16
NS 20 scen 4 n 50 Trial 17
NS 20 scen 4 n 50 Trial 18
NS 20 scen 4 n 50 Trial 19
NS 20 scen 4 n 75 Trial 0
NS 20 scen 4 n 75 Trial 1
NS 20 scen 4 n 75 Trial 2
NS 20 scen 4 n 75 Trial 3
NS 20 scen 4 n 75 Trial 4
NS 20 scen 4 n 75 Trial 5
NS 20 scen 4 n 75 Trial 6
NS 20 scen 4 n 75 Trial 7
NS 20 scen 4 n 75 Trial 8
NS 20 scen 4 n 75 Trial 9
NS 20 scen 4 n 75 Trial 10
NS 20 scen 4 n 75 Trial 11
NS 20 scen 4 n 75 Trial 12
NS 20 scen 4 n 75 Trial 13
NS 20 scen 4 n 75 Trial 14
NS 20 scen 4 n 75 Trial 15
NS 20 scen 4 n 75 Trial 16
NS 20 scen 4 n 75 Trial 17
NS 20 scen 4 n 75 Trial 18
NS 20 scen 4 n 75 Trial 19
NS=20 completed in 348.62 seconds

In [8]:
detailed_df

,NS,Scenario,SampleSize,FDH_MSE,EAT_MSE,Ratio_MSE,FDH_Bias,EAT_Bias,Ratio_Bias,FDH_AbsBias,EAT_AbsBias,Ratio_AbsBias
0,10,1,25,0.7763,0.6889,0.8874,-0.1866,-0.0058,0.0310,0.6860,0.6514,0.9495
1,10,1,50,0.7489,0.6995,0.9340,-0.1418,-0.0339,0.2389,0.6768,0.6608,0.9764
2,10,1,75,0.7393,0.7185,0.9719,-0.1241,-0.0485,0.3907,0.6720,0.6695,0.9963
3,10,2,25,1.6536,1.8090,1.0940,-0.2997,0.3923,-1.3089,1.0266,1.0752,1.0473
4,10,2,50,1.7797,2.0053,1.1268,-0.2958,0.4072,-1.3768,1.0686,1.1453,1.0718
5,10,2,75,1.8531,2.3082,1.2456,-0.2794,0.3848,-1.3772,1.0956,1.2353,1.1276
6,10,3,25,1.7061,1.7083,1.0013,-0.3237,0.3737,-1.1545,1.0394,1.0318,0.9927
7,10,3,50,1.8595,2.0930,1.1256,-0.3181,0.4242,-1.3334,1.0873,1.1597,1.0666
8,10,3,75,1.8312,2.2885,1.2497,-0.3114,0.6002,-1.9273,1.0863,1.2284,1.1308
9,10,4,25,1.7037,1.6288,0.9561,-0.3249,0.3880,-1.1942,1.0194,0.9773,0.9587
10,10,4,50,1.8688,2.3569,1.2612,-0.3316,0.6455,-1.9466,1.0870,1.2243,1.1263
11,10,4,75,1.7781,2.1987,1.2365,-0.3250,0.6543,-2.0131,1.0653,1.1956,1.1224
12,15,1,25,0.8013,0.6245,0.7793,-0.2080,0.0670,-0.3222,0.7017,0.6238,0.8890
13,15,1,50,0.7699,0.6966,0.9048,-0.1482,0.0226,-0.1525,0.6850,0.6528,0.9530
14,15,1,75,0.7664,0.7035,0.9179,-0.1239,-0.0309,0.2490,0.6818,0.6587,0.9661
15,15,2,25,1.9916,2.0088,1.0087,-0.3182,0.5500,-1.7284,1.1321,1.1373,1.0046
16,15,2,50,1.8515,2.3044,1.2447,-0.2909,0.5370,-1.8457,1.0927,1.2270,1.1229
17,15,2,75,1.8447,2.1672,1.1748,-0.2771,0.4541,-1.6389,1.0919,1.1968,1.0960
18,15,3,25,1.8428,1.8288,0.9924,-0.3238,0.5569,-1.7200,1.0766,1.0744,0.9979
19,15,3,50,2.0043,2.3307,1.1628,-0.3258,0.6052,-1.8574,1.1355,1.2350,1.0876
20,15,3,75,1.8099,2.4890,1.3752,-0.3094,0.7260,-2.3463,1.0757,1.2766,1.1867
21,15,4,25,1.7038,1.7381,1.0201,-0.3213,0.5726,-1.7819,1.0321,1.0393,1.0070
22,15,4,50,1.8283,2.1753,1.1898,-0.3113,0.7578,-2.4340,1.0737,1.1801,1.0991
23,15,4,75,1.8445,2.5130,1.3624,-0.3290,0.8558,-2.6009,1.0830,1.2817,1.1835
24,20,1,25,0.8120,0.6785,0.8356,-0.1883,0.1956,-1.0391,0.7041,0.6434,0.9139
25,20,1,50,0.7718,0.6001,0.7775,-0.1438,0.0474,-0.3292,0.6806,0.6035,0.8868
26,20,1,75,0.7100,0.6563,0.9244,-0.1191,0.0278,-0.2330,0.6600,0.6391,0.9683
27,20,2,25,1.9004,1.9649,1.0339,-0.2771,0.6792,-2.4515,1.1040,1.1199,1.0143
28,20,2,50,1.8600,2.2701,1.2205,-0.2738,0.6402,-2.3384,1.0975,1.2274,1.1183
29,20,2,75,1.8013,2.2618,1.2556,-0.2700,0.6158,-2.2810,1.0815,1.2259,1.1335
30,20,3,25,1.6664,1.7728,1.0638,-0.3164,0.6434,-2.0336,1.0268,1.0613,1.0337
31,20,3,50,1.7723,2.1036,1.1869,-0.3236,0.7019,-2.1689,1.0640,1.1654,1.0953
32,20,3,75,1.7954,2.0477,1.1405,-0.3078,0.5891,-1.9137,1.0745,1.1522,1.0722
33,20,4,25,1.6199,1.6656,1.0283,-0.3197,0.7138,-2.2325,1.0122,1.0301,1.0177
34,20,4,50,1.7719,2.1046,1.1878,-0.3151,0.7619,-2.4181,1.0580,1.1588,1.0953
35,20,4,75,1.7729,2.2560,1.2725,-0.3267,0.8358,-2.5584,1.0603,1.2088,1.1401

In [9]:
times_df

   NS  ElapsedSec
0  10    482.5201
1  15    401.3482
2  20    348.6176

In [10]:
summary_df

,NS,FDH_MSE,EAT_MSE,Ratio_MSE,FDH_Bias,EAT_Bias,Ratio_Bias,FDH_AbsBias,EAT_AbsBias,Ratio_AbsBias
0,10,1.5249,1.7086,1.0908,-0.2718,0.3485,-1.0809,0.9675,1.0212,1.0472
1,15,1.5883,1.7983,1.0944,-0.2739,0.4728,-1.5149,0.9885,1.0486,1.0494
2,20,1.5212,1.6985,1.0773,-0.2651,0.5377,-1.8331,0.9686,1.0196,1.0408

In [11]:
detailed_df.to_csv('resss/monte_carlo_results_detailed.csv', index=False, float_format='%.4f')
summary_df.to_csv('resss/monte_carlo_results_summary.csv', index=False, float_format='%.4f')
times_df.to_csv('resss/monte_carlo_times.csv', index=False, float_format='%.4f')

In [13]:
detailed_df.columns

Index(['NS', 'Scenario', 'SampleSize', 'FDH_MSE', 'EAT_MSE', 'Ratio_MSE',
       'FDH_Bias', 'EAT_Bias', 'Ratio_Bias', 'FDH_AbsBias', 'EAT_AbsBias',
       'Ratio_AbsBias'],
      dtype='object')

In [21]:
detailed_df = detailed_df.drop(['Ratio_AbsBias', 'Ratio_Bias'], axis=1)

In [25]:
dfA = detailed_df.groupby(['NS'], as_index=False).mean()
dfA

,NS,Scenario,SampleSize,FDH_MSE,EAT_MSE,Ratio_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,10,2.5,50.0,1.524858,1.708633,1.090842,-0.271842,0.348500,0.967525,1.021217
1,15,2.5,50.0,1.588250,1.798325,1.094408,-0.273908,0.472842,0.988483,1.048625
2,20,2.5,50.0,1.521192,1.698500,1.077275,-0.265117,0.537658,0.968625,1.019650

In [26]:
dfA['EAT_MSE']/dfA['FDH_MSE']

0    1.120519
1    1.132268
2    1.116559
dtype: float64

In [27]:
dfB = detailed_df.groupby(['Scenario'], as_index=False).mean()
dfB

,Scenario,NS,SampleSize,FDH_MSE,EAT_MSE,Ratio_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,1,15.0,50.0,0.766211,0.674044,0.881422,-0.153756,0.026811,0.683111,0.644778
1,2,15.0,50.0,1.837322,2.122189,1.156067,-0.286889,0.517844,1.087833,1.176678
2,3,15.0,50.0,1.809767,2.073600,1.144244,-0.317778,0.580067,1.074011,1.153867
3,4,15.0,50.0,1.765767,2.070778,1.168300,-0.322733,0.687278,1.054556,1.144000

In [28]:
dfB['EAT_MSE']/dfB['FDH_MSE']

0    0.879711
1    1.155044
2    1.145783
3    1.172736
dtype: float64

In [29]:
dfC = detailed_df.groupby(['SampleSize'], as_index=False).mean()
dfC

,SampleSize,NS,Scenario,FDH_MSE,EAT_MSE,Ratio_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,25,15.0,2.5,1.514825,1.509750,0.975075,-0.283975,0.427225,0.963417,0.955433
1,50,15.0,2.5,1.573908,1.811675,1.110200,-0.268317,0.459750,0.983892,1.053342
2,75,15.0,2.5,1.545567,1.884033,1.177250,-0.258575,0.472025,0.977325,1.080717

In [30]:
dfC['EAT_MSE']/dfC['FDH_MSE']

0    0.996650
1    1.151068
2    1.218992
dtype: float64

MULTI OUTPUT

In [38]:
TRIALS = 20
NS = 10
SAMPLE_SIZES = [25, 50, 75]

SCENARIOS = {
    5: {
        "inputs": 2,
        "outputs": 2,
        "func": None,
        "inefficiency": lambda n: np.abs(np.random.normal(0, 0.4, size=(n, 2))),
    },
}

In [39]:
def generate_multi_data(scenario, n, p):
    x = np.random.uniform(1, 10, size=(n, scenario["inputs"]))
    ln_y2_y1 = np.random.uniform(-1.5, 1.5, size=n)

    ln_y1 = -1 + 0.5 * ln_y2_y1 + 0.25 * (ln_y2_y1 ** 2) \
            - 1.5 * np.log(x[:, 0]) - 0.6 * np.log(x[:, 1]) + 0.2 * (np.log(x[:, 0]) ** 2) + 0.05 * (np.log(x[:, 1]) ** 2) \
            - 0.1 * np.log(x[:, 0]) * np.log(x[:, 1]) + 0.05 * np.log(x[:, 0]) * ln_y2_y1 - 0.05 * np.log(x[:, 1]) * ln_y2_y1

    min_ln_y1 = np.min(ln_y1)
    if min_ln_y1 < 0:
        ln_y1 += np.abs(min_ln_y1) + 0.1

    ln_y2 = ln_y1 + ln_y2_y1
    y1 = np.exp(ln_y1)
    y2 = np.exp(ln_y2)
    y_true = np.column_stack((y1, y2))

    inefficiency = scenario["inefficiency"](n)
    
    num_efficient = int(p * n)
    efficient_indices = np.random.choice(n, num_efficient, replace=False)
    inefficiency[efficient_indices] = 0.0

    y_obs = y_true - inefficiency
    y_obs = y_obs.reshape(n, scenario["outputs"])
    y_obs[y_obs < 0] = 1e-6

    return x, y_obs, y_true

In [42]:
import time
import numpy as np
import pandas as pd

P_VALUES = [0, 0.1, 0.25]

def monte_carlo_testing():
    records = []
    time_records = []

    for p in P_VALUES:
        start_time = time.time()
        for scenario_id, scenario in SCENARIOS.items():
            for n in SAMPLE_SIZES:
                mse_fdh_list, mse_eat_list = [], []
                bias_fdh_list, bias_eat_list = [], []
                abs_fdh_list, abs_eat_list = [], []

                for trial in range(TRIALS):
                    print(f"p={p} scenario={scenario_id} n={n} trial={trial}")
                    x, y_obs, y_true = generate_multi_data(scenario, n, p)

                    # FDH
                    fdh = FDH(x, y_obs)
                    df_fdh = fdh.fdh_output_vrs()
                    y_fdh = y_obs * df_fdh['efficiency'].values.reshape(-1, 1)

                    # EAT
                    df = pd.DataFrame(x, columns=[f"x[{i}]" for i in range(scenario["inputs"])])
                    df[[f"y[{i}]" for i in range(scenario["outputs"])]] = y_obs
                    eat_model = eat.EAT(
                        df,
                        [f"x[{i}]" for i in range(scenario["inputs"])],
                        [f"y[{i}]" for i in range(scenario["outputs"])],
                        numStop=NS,
                        fold=5
                    )
                    eat_model.fit()
                    X_pred = df[[f"x[{i}]" for i in range(scenario["inputs"])]]
                    y_eat = eat_model.predict(X_pred, [f"x[{i}]" for i in range(scenario["inputs"])])
                    y_eat = y_eat[[f"p_y[{i}]" for i in range(scenario["outputs"])]].values

                    # metrics
                    y_true = y_true.reshape(-1, scenario["outputs"])
                    mse_fdh, bias_fdh, abs_fdh = calculate_metrics(y_true, y_fdh)
                    mse_eat, bias_eat, abs_eat = calculate_metrics(y_true, y_eat)

                    mse_fdh_list.append(mse_fdh)
                    bias_fdh_list.append(bias_fdh)
                    abs_fdh_list.append(abs_fdh)
                    mse_eat_list.append(mse_eat)
                    bias_eat_list.append(bias_eat)
                    abs_eat_list.append(abs_eat)

                # aggregate per (scenario, p, n)
                records.append({
                    'p': p,
                    'Scenario': scenario_id,
                    'SampleSize': n,
                    'FDH_MSE': np.mean(mse_fdh_list),
                    'EAT_MSE': np.mean(mse_eat_list),
                    'FDH_Bias': np.mean(bias_fdh_list),
                    'EAT_Bias': np.mean(bias_eat_list),
                    'FDH_AbsBias': np.mean(abs_fdh_list),
                    'EAT_AbsBias': np.mean(abs_eat_list)
                })

        elapsed = time.time() - start_time
        time_records.append({'p': p, 'ElapsedSec': elapsed})
        print(f"p={p} done in {elapsed:.1f}s")

    df_details = pd.DataFrame(records).round(4)
    df_summary = (
        df_details
        .groupby(['p','Scenario','SampleSize'])
        .agg({
            'FDH_MSE':'mean','EAT_MSE':'mean',
            'FDH_Bias':'mean','EAT_Bias':'mean',
            'FDH_AbsBias':'mean','EAT_AbsBias':'mean'
        })
        .reset_index()
        .round(4)
    )
    df_times = pd.DataFrame(time_records).round(4)

    df_details.to_csv('monte_carlo_p_detailed.csv', index=False)
    df_summary.to_csv('monte_carlo_p_summary.csv', index=False)
    df_times.to_csv('monte_carlo_p_times.csv', index=False)

    with pd.ExcelWriter('monte_carlo_p_full.xlsx') as writer:
        df_details.to_excel(writer, sheet_name='Detailed', index=False)
        df_summary.to_excel(writer, sheet_name='Summary', index=False)
        df_times.to_excel(writer, sheet_name='Times', index=False)

    return df_details, df_summary, df_times

In [46]:
detailed_df, summary_df, times_df = monte_carlo_testing()

p=0 scenario=5 n=25 trial=0
p=0 scenario=5 n=25 trial=1
p=0 scenario=5 n=25 trial=2
p=0 scenario=5 n=25 trial=3
p=0 scenario=5 n=25 trial=4
p=0 scenario=5 n=25 trial=5
p=0 scenario=5 n=25 trial=6
p=0 scenario=5 n=25 trial=7
p=0 scenario=5 n=25 trial=8
p=0 scenario=5 n=25 trial=9
p=0 scenario=5 n=25 trial=10
p=0 scenario=5 n=25 trial=11
p=0 scenario=5 n=25 trial=12
p=0 scenario=5 n=25 trial=13
p=0 scenario=5 n=25 trial=14
p=0 scenario=5 n=25 trial=15
p=0 scenario=5 n=25 trial=16
p=0 scenario=5 n=25 trial=17
p=0 scenario=5 n=25 trial=18
p=0 scenario=5 n=25 trial=19
p=0 scenario=5 n=50 trial=0
p=0 scenario=5 n=50 trial=1
p=0 scenario=5 n=50 trial=2
p=0 scenario=5 n=50 trial=3
p=0 scenario=5 n=50 trial=4
p=0 scenario=5 n=50 trial=5
p=0 scenario=5 n=50 trial=6
p=0 scenario=5 n=50 trial=7
p=0 scenario=5 n=50 trial=8
p=0 scenario=5 n=50 trial=9
p=0 scenario=5 n=50 trial=10
p=0 scenario=5 n=50 trial=11
p=0 scenario=5 n=50 trial=12
p=0 scenario=5 n=50 trial=13
p=0 scenario=5 n=50 trial=14
p=0 scenario=5 n=50 trial=15
p=0 scenario=5 n=50 trial=16
p=0 scenario=5 n=50 trial=17
p=0 scenario=5 n=50 trial=18
p=0 scenario=5 n=50 trial=19
p=0 scenario=5 n=75 trial=0
p=0 scenario=5 n=75 trial=1
p=0 scenario=5 n=75 trial=2
p=0 scenario=5 n=75 trial=3
p=0 scenario=5 n=75 trial=4
p=0 scenario=5 n=75 trial=5
p=0 scenario=5 n=75 trial=6
p=0 scenario=5 n=75 trial=7
p=0 scenario=5 n=75 trial=8
p=0 scenario=5 n=75 trial=9
p=0 scenario=5 n=75 trial=10
p=0 scenario=5 n=75 trial=11
p=0 scenario=5 n=75 trial=12
p=0 scenario=5 n=75 trial=13
p=0 scenario=5 n=75 trial=14
p=0 scenario=5 n=75 trial=15
p=0 scenario=5 n=75 trial=16
p=0 scenario=5 n=75 trial=17
p=0 scenario=5 n=75 trial=18
p=0 scenario=5 n=75 trial=19
p=0 done in 449.3s
p=0.1 scenario=5 n=25 trial=0
p=0.1 scenario=5 n=25 trial=1
p=0.1 scenario=5 n=25 trial=2
p=0.1 scenario=5 n=25 trial=3
p=0.1 scenario=5 n=25 trial=4
p=0.1 scenario=5 n=25 trial=5
p=0.1 scenario=5 n=25 trial=6
p=0.1 scenario=5 n=25 trial=7
p=0.1 scenario=5 n=25 trial=8
p=0.1 scenario=5 n=25 trial=9
p=0.1 scenario=5 n=25 trial=10
p=0.1 scenario=5 n=25 trial=11
p=0.1 scenario=5 n=25 trial=12
p=0.1 scenario=5 n=25 trial=13
p=0.1 scenario=5 n=25 trial=14
p=0.1 scenario=5 n=25 trial=15
p=0.1 scenario=5 n=25 trial=16
p=0.1 scenario=5 n=25 trial=17
p=0.1 scenario=5 n=25 trial=18
p=0.1 scenario=5 n=25 trial=19
p=0.1 scenario=5 n=50 trial=0
p=0.1 scenario=5 n=50 trial=1
p=0.1 scenario=5 n=50 trial=2
p=0.1 scenario=5 n=50 trial=3
p=0.1 scenario=5 n=50 trial=4
p=0.1 scenario=5 n=50 trial=5
p=0.1 scenario=5 n=50 trial=6
p=0.1 scenario=5 n=50 trial=7
p=0.1 scenario=5 n=50 trial=8
p=0.1 scenario=5 n=50 trial=9
p=0.1 scenario=5 n=50 trial=10
p=0.1 scenario=5 n=50 trial=11
p=0.1 scenario=5 n=50 trial=12
p=0.1 scenario=5 n=50 trial=13
p=0.1 scenario=5 n=50 trial=14
p=0.1 scenario=5 n=50 trial=15
p=0.1 scenario=5 n=50 trial=16
p=0.1 scenario=5 n=50 trial=17
p=0.1 scenario=5 n=50 trial=18
p=0.1 scenario=5 n=50 trial=19
p=0.1 scenario=5 n=75 trial=0
p=0.1 scenario=5 n=75 trial=1
p=0.1 scenario=5 n=75 trial=2
p=0.1 scenario=5 n=75 trial=3
p=0.1 scenario=5 n=75 trial=4
p=0.1 scenario=5 n=75 trial=5
p=0.1 scenario=5 n=75 trial=6
p=0.1 scenario=5 n=75 trial=7
p=0.1 scenario=5 n=75 trial=8
p=0.1 scenario=5 n=75 trial=9
p=0.1 scenario=5 n=75 trial=10
p=0.1 scenario=5 n=75 trial=11
p=0.1 scenario=5 n=75 trial=12
p=0.1 scenario=5 n=75 trial=13
p=0.1 scenario=5 n=75 trial=14
p=0.1 scenario=5 n=75 trial=15
p=0.1 scenario=5 n=75 trial=16
p=0.1 scenario=5 n=75 trial=17
p=0.1 scenario=5 n=75 trial=18
p=0.1 scenario=5 n=75 trial=19
p=0.1 done in 387.6s
p=0.25 scenario=5 n=25 trial=0
p=0.25 scenario=5 n=25 trial=1
p=0.25 scenario=5 n=25 trial=2
p=0.25 scenario=5 n=25 trial=3
p=0.25 scenario=5 n=25 trial=4
p=0.25 scenario=5 n=25 trial=5
p=0.25 scenario=5 n=25 trial=6
p=0.25 scenario=5 n=25 trial=7
p=0.25 scenario=5 n=25 trial=8
p=0.25 scenario=5 n=25 trial=9
p=0.25 scenario=5 n=25 trial=10
p=0.25 scenario=5 n=25 trial=11
p=0.25 scenario=5 n=25 trial=12
p=0.25 scenario=5 n=25 trial=13
p=0.25 scenario=5 n=25 trial=14
p=0.25 scenario=5 n=25 trial=15
p=0.25 scenario=5 n=25 trial=16
p=0.25 scenario=5 n=25 trial=17
p=0.25 scenario=5 n=25 trial=18
p=0.25 scenario=5 n=25 trial=19
p=0.25 scenario=5 n=50 trial=0
p=0.25 scenario=5 n=50 trial=1
p=0.25 scenario=5 n=50 trial=2
p=0.25 scenario=5 n=50 trial=3
p=0.25 scenario=5 n=50 trial=4
p=0.25 scenario=5 n=50 trial=5
p=0.25 scenario=5 n=50 trial=6
p=0.25 scenario=5 n=50 trial=7
p=0.25 scenario=5 n=50 trial=8
p=0.25 scenario=5 n=50 trial=9
p=0.25 scenario=5 n=50 trial=10
p=0.25 scenario=5 n=50 trial=11
p=0.25 scenario=5 n=50 trial=12
p=0.25 scenario=5 n=50 trial=13
p=0.25 scenario=5 n=50 trial=14
p=0.25 scenario=5 n=50 trial=15
p=0.25 scenario=5 n=50 trial=16
p=0.25 scenario=5 n=50 trial=17
p=0.25 scenario=5 n=50 trial=18
p=0.25 scenario=5 n=50 trial=19
p=0.25 scenario=5 n=75 trial=0
p=0.25 scenario=5 n=75 trial=1
p=0.25 scenario=5 n=75 trial=2
p=0.25 scenario=5 n=75 trial=3
p=0.25 scenario=5 n=75 trial=4
p=0.25 scenario=5 n=75 trial=5
p=0.25 scenario=5 n=75 trial=6
p=0.25 scenario=5 n=75 trial=7
p=0.25 scenario=5 n=75 trial=8
p=0.25 scenario=5 n=75 trial=9
p=0.25 scenario=5 n=75 trial=10
p=0.25 scenario=5 n=75 trial=11
p=0.25 scenario=5 n=75 trial=12
p=0.25 scenario=5 n=75 trial=13
p=0.25 scenario=5 n=75 trial=14
p=0.25 scenario=5 n=75 trial=15
p=0.25 scenario=5 n=75 trial=16
p=0.25 scenario=5 n=75 trial=17
p=0.25 scenario=5 n=75 trial=18
p=0.25 scenario=5 n=75 trial=19
p=0.25 done in 450.9s

In [47]:
# 21 min 28 sec

In [48]:
detailed_df

,p,Scenario,SampleSize,FDH_MSE,EAT_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,0.00,5,25,796.2539,3417.5218,14.8729,33.6072,15.0525,33.6636
1,0.00,5,50,2523.4950,11390.7740,33.1780,72.8867,33.2870,72.9110
2,0.00,5,75,3281.6168,13934.5125,40.9525,88.9573,41.0368,88.9769
3,0.10,5,25,725.8711,3510.6539,16.0609,38.7242,16.2373,38.7718
4,0.10,5,50,2345.5657,10317.9623,31.8929,68.4702,31.9968,68.5021
5,0.10,5,75,5833.5852,26348.5539,53.1919,117.7364,53.2676,117.7555
6,0.25,5,25,2744.6018,14322.2101,25.7015,59.9335,25.8358,59.9657
7,0.25,5,50,5558.8630,24644.7234,41.3274,88.6159,41.4129,88.6388
8,0.25,5,75,6351.7500,27427.9803,49.5660,108.9218,49.6313,108.9389

In [49]:
times_df

      p  ElapsedSec
0  0.00    449.3288
1  0.10    387.6438
2  0.25    450.9132

In [50]:
summary_df

,p,Scenario,SampleSize,FDH_MSE,EAT_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,0.00,5,25,796.2539,3417.5218,14.8729,33.6072,15.0525,33.6636
1,0.00,5,50,2523.4950,11390.7740,33.1780,72.8867,33.2870,72.9110
2,0.00,5,75,3281.6168,13934.5125,40.9525,88.9573,41.0368,88.9769
3,0.10,5,25,725.8711,3510.6539,16.0609,38.7242,16.2373,38.7718
4,0.10,5,50,2345.5657,10317.9623,31.8929,68.4702,31.9968,68.5021
5,0.10,5,75,5833.5852,26348.5539,53.1919,117.7364,53.2676,117.7555
6,0.25,5,25,2744.6018,14322.2101,25.7015,59.9335,25.8358,59.9657
7,0.25,5,50,5558.8630,24644.7234,41.3274,88.6159,41.4129,88.6388
8,0.25,5,75,6351.7500,27427.9803,49.5660,108.9218,49.6313,108.9389

In [51]:
detailed_df.to_csv('resss2/Pmonte_carlo_results_detailed.csv', index=False, float_format='%.4f')
summary_df.to_csv('resss2/monte_carlo_results_summary.csv', index=False, float_format='%.4f')
times_df.to_csv('resss2/monte_carlo_times.csv', index=False, float_format='%.4f')

In [56]:
detailed_df.columns

Index(['p', 'Scenario', 'SampleSize', 'FDH_MSE', 'EAT_MSE', 'FDH_Bias',
       'EAT_Bias', 'FDH_AbsBias', 'EAT_AbsBias'],
      dtype='object')

In [57]:
dfA = detailed_df.groupby(['p'], as_index=False).mean()
dfA

,p,Scenario,SampleSize,FDH_MSE,EAT_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,0.00,5.0,50.0,2200.455233,9580.936100,29.667800,65.150400,29.7921,65.183833
1,0.10,5.0,50.0,2968.340667,13392.390033,33.715233,74.976933,33.8339,75.009800
2,0.25,5.0,50.0,4885.071600,22131.637933,38.864967,85.823733,38.9600,85.847800

In [58]:
dfA['EAT_MSE']/dfA['FDH_MSE']

0    4.354070
1    4.511743
2    4.530463
dtype: float64

In [60]:
dfB = detailed_df.groupby(['SampleSize'], as_index=False).mean()
dfB

,SampleSize,p,Scenario,FDH_MSE,EAT_MSE,FDH_Bias,EAT_Bias,FDH_AbsBias,EAT_AbsBias
0,25,0.116667,5.0,1422.242267,7083.461933,18.878433,44.088300,19.041867,44.133700
1,50,0.116667,5.0,3475.974567,15451.153233,35.466100,76.657600,35.565567,76.683967
2,75,0.116667,5.0,5155.650667,22570.348900,47.903467,105.205167,47.978567,105.223767

In [61]:
dfB['EAT_MSE']/dfB['FDH_MSE']

0    4.980489
1    4.445128
2    4.377789
dtype: float64